@keyframes marquee {
  0% {
    transform: translateY(18rem);
  }

  100% {
    transform: translateY(-18rem);
  }
}

@keyframes floatIn-bottom {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }

  50% {
    opacity: 1;
  }

  70% {
    transform: translateY(-60%);
  }

  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}

@keyframes floatIn-top {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
