.feature {
  @include setWidth;
  margin: 5rem auto;
}

.vision {
  padding: 2rem;
  width: 50%;
  display: inline-block;

  &__heading {
    color: $color-primary-light;
    font-size: 2rem;
    font-weight: 600;
  }

  &__text {
    font-size: 1.5rem;
  }

}

.nba {
  padding: 2rem;
  width: 50%;
  display: inline-block;

  &__heading {
    color: $color-primary-light;
    font-size: 2rem;
    font-weight: 600;
  }


  &__list {
    list-style: none;

    li {
      font-size: 1.5rem;
    }

  }
}

.mission {
  padding: 2rem;
  width: 50%;
  float: right;

  &__heading {
    color: $color-primary-light;
    font-size: 2rem;
    font-weight: 600;
  }

  &__list {
    list-style: none;

    li {
      font-size: 1.5rem;
    }

  }

  &__items {
    padding: 1rem 0;

    &:after {
      content: "";
      position: absolute;
      display: block;
      height: 3px;
      width: 10%;
      border-radius: 1px;
      background-color: $color-primary-light;
    }
  }
}
