.feature {
  @include clearfix;

  margin: 0 auto;
  padding: 1rem;
}

.vision {
  margin: 1rem 1rem;
  padding: 2rem;
  width: 45vw;
  display: inline-block;
  float: left;
}

.nba {
  margin: 1rem 1rem;
  padding: 2rem;
  width: 45vw;
  display: inline-block;
  float: left;

  &__list {
    list-style: none;
  }
}

.mission {
  margin: 1rem 1rem;
  padding: 2rem;
  width: 45vw;
  //   display: inline-block;
  float: right;

  &__list {
    list-style: none;
    position: relative;
  }

  &__items {
    padding: 1rem 0;

    &:after {
      content: "";
      position: absolute;
      left: 25%;
      bottom: 0;
      display: inline-block;
      height: 3px;
      width: 50%;
      border-radius: 3px;
      background-color: $color-primary-light;
    }
  }
}
