.feature {
  @include clearfix;

  margin: 0 auto;
  padding: 1rem;
}

.vision {
  margin: 1rem 1rem;
  padding: 2rem;
  width: 45vw;
  display: inline-block;

  &__heading{
    color: $color-primary-light;
    font-size: 2rem;
    font-weight: 600;
  }

  &__text{
    font-size: 1.5rem;
  }

}

.nba {
  margin: 1rem 1rem;
  padding: 2rem;
  width: 45vw;
  display: inline-block;

  &__heading{
    color: $color-primary-light;
    font-size: 2rem;
    font-weight: 600;
  }
  

  &__list {
    list-style: none;
    li{
      font-size: 1.5rem;
    }

  }
}

.mission {
  margin: 1rem 1rem;
  padding: 2rem;
  width: 45vw;
  float: right;

  &__heading{
    color: $color-primary-light;
    font-size: 2rem;
    font-weight: 600;
  }

  &__list {
    list-style: none;
    
    li{
      font-size: 1.5rem;
    }

  }

  &__items {
    padding: 1rem 0;

    &:after {
      content: "";
      position: absolute;
      display: block;
      height: 3px;
      width: 10%;
      margin: 3px 0;
      background-color: $color-primary-light;
    }
  }
}
