.footer {

  color: $color-white;

  &__top {
    background-color: $color-primary-light;
    padding: 3rem 0;

    &-inner {
      @include setWidth;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;


      // &>div {
      //   flex-basis: 33.3333%;

      //    @media only screen and (max-width: 500px){
      //       flex-basis: 50%;
      //  }

      // }      
    }

    &-inner1{
      flex-basis: 33.3333%;
      @media only screen and (max-width: 500px){
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 1rem;
      }
    }

    &-inner2{
      flex-basis: 66.6667%;
      display: flex;
      justify-content: space-between;

      @media only screen and (max-width: 500px){
        flex-basis: 100%;
      }

    }
  }

  &__heading {
    font-size: 2rem;

    @media only screen and (max-width: 400px){
        font-size: 1.5rem;
      }
  }

  // &__social{
   
  // }

  &__quick {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: 500px){
      align-items: flex-start;
    }

  }
}

.social__list {
  list-style: none;

   @media only screen and (max-width: 500px){
            display: flex;
            justify-content: center;
      }

  &--icon {
    width: 2rem;
    height: 2rem;
    fill: $color-white;
    margin-right: 1rem;
  }

  &--text{
    @media only screen and (max-width: 500px){
            display: none;
      }
  }
  &-item {

    &:not(:last-child) {
      margin-bottom: 1.3rem;
    }

    a:link,
    a:visited {
      text-decoration: none;
      color: currentColor;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
    }
  }

}

.quick__link {
  list-style: none;
  text-align: center;

  @media only screen and (max-width: 500px){
      text-align: left;
    }

  &-item {

    a:link,
    a:visited {
      text-decoration: none;
      color: currentColor;
      font-size: 1.5rem;
      display: inline-block;

      @media only screen and (max-width: 400px){
        font-size: 1.3rem;
      }

    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.contact__heading {
  font-size: 1.5rem;

  @media only screen and (max-width: 700px){
      font-size: 1.3rem;
    }

  @media only screen and (min-width :600px) and (max-width: 635px){
      font-size: 1.1rem;
    }

}

.contact__heading2 {
  font-size: 1.3rem;

  @media only screen and (max-width: 700px){
      font-size: 1rem;
    }
    
}

.contact__detail {
  font-size: 1.3rem;

  &:first-child {
    margin-top: .5rem;
  }

  &:not(:last-child) {
    margin-bottom: .5rem;
  }
}



.copyrights {
  background-color: $color-primary-dark;
  text-align: center;
  color: $color-white;
  padding: 1.4rem 0;
  font-size: 1.4rem;
  font-weight: 400;
}
