.hero {
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;

  @include respond(phone) {
    height: 140vh;
  }

  background-image: linear-gradient(rgba($color-gray-1, 0.8), rgba($color-gray-1, 0.8)),
  url('../images/hero.jpg');
  background-size: cover;
  background-position: center;
  position: relative;

  &-container {
    @include setWidth;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include respond(phone) {
      justify-content: center;
    }

    @include respond(big) {
      justify-content: center;
    }
  }

  &__top {
    margin-top: 7rem;
    margin-bottom: -7rem;

    @include respond(phone) {
      margin-bottom: -2rem;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &>div {
      margin-top: 5rem;
    }

    @include respond(phone) {
      flex-direction: column;
      align-items: center;
    }
  }

}
