.hero {
  height: 100vh;

  @include respond(phone) {
    height: 120vh;
  }

  background-image: linear-gradient(rgba($color-gray-1, 0.8), rgba($color-gray-1, 0.8)),
  url('../images/hero.jpg');
  background-size: cover;
  background-position: center;
  position: relative;

  &-container {
    @include setWidth;
  }

  &__title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    @include respond(tab-port) {
      top: 40%;
    }
  }
}
