.hero {
  height: 100vh;

  background-image: linear-gradient(rgba($color-gray-1, 0.8),rgba($color-gray-1, 0.8)), url('../images/hero.png');
  background-size: cover;
  background-position: top;
  position: relative;

  &-container {
    @include setWidth;
  }

  &__title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
