header {
  position: relative;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  @media screen and (max-width: 600px) {
    // overflow-x: hidden;
  }

  &-container {
    @include setWidth;
    padding: 3rem 0;
    display: flex;
    font-size: 1.8rem;
    align-items: center;
  }

  &__brand {
    width: 4rem;
    height: 4rem;
    margin-right: auto;

    &-logo {
      @include fullSizeImage;
    }
  }

  &__list {
    list-style: none;

    @media screen and (max-width: 600px) {
      position: absolute;
      right: 0;
      height: 92vh;
      top: 8vh;
      background-color: $color-gray-3;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      transform: translateX(100%);
      transition: all 0.5s ease-in;
    }
  }

  &-active {
    transform: translateX(0%);
  }

  &__link {
    &,
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-gray-8;
      display: inline-flex;
      position: relative;

      @media screen and (max-width: 600px) {
        margin: 2rem;
      }

      & li {
        @media screen and (max-width: 600px) {
          opacity: 1;
        }
      }

      &::after {
        content: "";
        position: absolute;
        display: inline-block;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 3px;
        width: 50%;
        border-radius: 1px;
        background-color: $color-primary-light;

        opacity: 0;
        transition: opacity 0.3s;
      }

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }

    &-active,
    &:active {
      color: $color-primary-light !important;
    }

    &--administration{
      position: relative;

      &:hover ~ .nav__dropdown{
        display: block;
      }

    }

  }

  &__item {
    display: inline-block;
  }
}


//  dropdown

.nav__dropdown{

  background-color: $color-white;
  position: absolute;
  padding: 2rem;
  border-radius: 1rem;
  display: none;

  &--list{
    display: flex;
    flex-direction: column;

    & > * {
    margin-bottom: 1rem;
    }

  }
}





// Sticky Nav

.sticky {
  margin: 0 auto;
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: $color-white;
  box-shadow: 0 2px 3px rgba($color-primary-light, 0.5);
  transition: all 0.3s ease-out;
}

//hamburger
.burger {
  display: none;
  cursor: pointer;

  @media screen and (max-width: 600px) {
    display: block;
  }

  div {
    width: 2.5rem;
    height: 0.3rem;
    background-color: $color-gray-5;
    margin: 0.4rem;
    // border-radius: 20%;
  }
}
